<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiceRoller"
        tools:targetApi="31">
        <activity
            android:name=".a5"
            android:exported="false"
            android:parentActivityName=".a4"/>
        <activity
            android:name=".a4"
            android:exported="false"
            android:parentActivityName=".a3"/>

        <activity
            android:name=".a3"
            android:exported="false"
            android:parentActivityName=".a2"/>
        <activity
            android:name=".a2"
            android:exported="false"
            android:parentActivityName=".a1"/>
        <activity
            android:name=".a1"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>